@import "../../../../theme/variable";
@import "../../../../theme/mixin";

.ck-attr-form-row {
    & > .ck-labeled-field-view {
        & > .ck-labeled-field-view__input-wrapper {
            .ck-dropdown, .ck-input {
                width: 100%;
                min-width: 100px;
            }
        }
    }
}

.ck-class-attr-input-view {
    > .ck-labeled-field-view {
        > .ck-labeled-field-view__input-wrapper {
            > .ck-input-text {
                min-width: 250px;
            }
        }
    }
}

.ck .ck-editor__nested-editable.ck-editor__nested-editable_focused, .ck .ck-editor__nested-editable:focus {
    color: black;
}

.ck-widget_selected > [data-block-type=element].ck-widget.ck-widget-block {
    box-shadow: unset !important;
}

@include _widgetColor('element', $inline-widget-color-hsl, false);
.ck-widget[data-block-type=element] {
    display: inline-block;
    outline-color: var(--ck-color-widget-blurred-border);
    outline-width: 1px !important;
    &> .ck-widget__selection-handle{
        transform: translateX(-50%) translateY(-50%) scale(0.66) !important;
    }
    &.ck-widget_selected{
        outline: 1px solid var(--ck-color-focus-border) !important;
    }


    & > [data-block-type='text'] {

        line-height: inherit;
        min-width: 10px;
        display: inline-block;
        height: 100%;
        border: 0 !important;
        position: unset;
        caret-color: red;

        &.ck-editor__nested-editable_focused {
            color: black !important;
            cursor: text !important;
            background-color: darken(white, 2%);
            height: 100%;
            text-shadow: 0 0 4px rgb(255 255 255 / 80%);

        }

        &:hover {
            cursor: text !important;
        }
    }

}


.ck-widget[data-block-type=element][data-ct-child-count='0'] {
    &.ck-widget:not([contenteditable=true]) {
        &:after {
            line-height: inherit;
        }
    }
}
