.ck.ck-color-grid__tile {
    //remove
    width: var(--ck-color-grid-tile-size);
    height: var(--ck-color-grid-tile-size);
    min-width: var(--ck-color-grid-tile-size);
    min-height: var(--ck-color-grid-tile-size);
}
