[data-block-type=content] > *:not(.ck):not(.ct) {
  position: relative;
}

p, h1, h2, h3, h4, h5, h6, div[data-block-type=text-container] {
  position: relative;
}

.ck-content {
  border-width: 0;
  cursor: default;
}
.ck-content [contenteditable=true] > * {
  cursor: text;
}
.ck-content .ck-widget {
  cursor: pointer !important;
}
.ck-content .ck-widget > .ck-widget > .ck-widget__type-around {
  display: none;
}
.ck-content .ck-editor__editable > > .ck-widget__type-around {
  display: block;
}

.ck-content.ck-editor__editable_inline {
  padding: 0 !important;
}
.ck-content.ck-grid > .ck-grid__tile {
  min-width: unset !important;
  max-width: 150px !important;
  width: auto !important;
  height: auto !important;
  text-align: center;
}
.ck-content.ck-grid > .ck-grid__tile > .ck-button {
  width: 100%;
}
.ck-content.ck-grid > .ck-grid__tile .ck-button__label {
  margin-left: auto;
  margin-right: auto;
}
.ck-content [data-ct-child-count="0"].ck-widget:not([contenteditable=true]) {
  cursor: pointer;
}
.ck-content [data-ct-child-count="0"].ck-widget:not([contenteditable=true]):after {
  opacity: 0.9;
  width: 100%;
  color: var(--ck-color-focus-border);
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  font-size: inherit;
  display: inline-block;
  height: 100%;
  text-align: center;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 400;
  content: " ";
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  white-space: pre;
}
.ck-content [data-ct-child-count="0"]:not([style*=background]):not([style*=background-image]):not([style*=background-color]) {
  background-image: linear-gradient(45deg, rgba(204, 204, 204, 0.25) 25%, transparent 25%), linear-gradient(-45deg, rgba(204, 204, 204, 0.25) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, rgba(204, 204, 204, 0.25) 75%), linear-gradient(-45deg, transparent 75%, rgba(204, 204, 204, 0.25) 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0;
}
.ck-content [data-ct-child-count="0"]:not([contenteditable=true])[data-ct-block-name]:after {
  content: attr(data-ct-block-name);
  text-transform: uppercase;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.35);
}
.ck-content .ck-widget__selection-handle {
  margin: 0;
}

.ck-editor__nested-editable_focused.overlay-bg:before {
  content: unset;
}

.overlay-bg:before ~ * {
  position: relative;
}

[data-block-type=shape-divider]:after {
  background-color: rgba(0, 0, 0, 0.3);
}

.col-form-label {
  cursor: default;
  display: flex;
  align-items: center;
}

.has-sub-element > .col-form-label {
  cursor: pointer;
}
.has-sub-element > .col-form-label:after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
}
.has-sub-element.expanded .col-form-label:after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transform: rotate(-180deg);
}

.ck.ck-editor__editable > .ck-widget.ck-widget_with-selection-handle:first-child, .ck.ck-editor__editable blockquote > .ck-widget.ck-widget_with-selection-handle:first-child {
  margin-top: unset;
}

.ck.ck-button.ck-switchbutton .ck-button__toggle {
  border-radius: 5em !important;
}
.ck.ck-button.ck-switchbutton .ck-button__toggle > .ck-button__toggle__inner {
  border-radius: 50% !important;
}
.ck.ck-button.ck-switchbutton.ck-on .ck-button__toggle {
  background: var(--ct-primary-color);
}

.ct-hover-state-element > :first-child {
  margin-right: 10px;
}

[data-widget-type]:not([data-widget-type=""]):after {
  content: attr(data-widget-type) !important;
}

/*# sourceMappingURL=style.css.map */
