/* placeholder/theme/placeholder.css */
i.ck-widget{
    cursor: pointer;
    box-shadow:inset 0 0 6px red !important;
    min-width: 5px;
    outline-width: 1px;
    margin: 0 1px;
}
i{
    display: inline-block;
}
