
.ck-content {
    .offcanvas {
        transition: margin-right 0.3s ease-in-out;
        &:not(.offcanvas-bottom){
            margin-top: var(--ct-toolbar-height);
        }

        &.show {
            visibility: visible;

            &:before {

                content: '';
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, .3);
                z-index: -1;
            }
        }
    }

    .offcanvas-header {
        &[data-ct-child-count='0']:before {

            content: " ";
            white-space: pre-wrap;
        }

        & > br {
            display: none;
        }
    }
}
body.ct-elements-active{
    .ck-content{
        .offcanvas{
            &:not(.offcanvas-start){
                margin-right: var(--ct-elements-sidebar-width);
            }
        }
    }
}
